
<!-- <modal-inner [config]="modals.confirmConfig"></modal-inner> -->

<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel" translate>Settings</h4>
</div>

<ngb-tabset id="settingsTabset" [justify]="'fill'">
    <ngb-tab [title]="'General'| translate">
        <ng-template ngbTabContent class="modal-body">
            <div *ngIf="error == 'E3'" class="alert alert-danger" role="alert" translate>Description should be long at least 4 characters.</div>
            <span translate>Edit wallet label</span>: <input type="text" class="form-control" maxlength="35" [(ngModel)]="wallet.label" />
            <br>
            <a (click)="updateLabel()" class="btn btn-default btn-block" translate>Update</a>
        </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="wallet.ismultisig" [title]="'Admins'| translate">
        <ng-template ngbTabContent class="modal-body">
            <p translate>This is the list of admins that can sign your transactions; this wallet needs at least {{wallet.multisig.n}} signatures to broadcast a transaction.</p>

            <table class="table table-compressed table-striped">
                <tr *ngFor="let admin of wallet.multisig.admins">
                    <td class="text-center"> {{admin}} </td>
                </tr>
                <tr>
                    <td class="text-center">Helperbit</td>
                </tr>
            </table>
        </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="!wallet.ismultisig" [title]="'Restore from backup'| translate">
        <ng-template ngbTabContent class="modal-body">
            <p translate>If you lose your passphrase, you can restore your funds by uploading the backup file and sending the funds to another address.</p>
            <br>
            <a (click)="activeModal.close()" [routerLink]="'/me/wallet/restore/'+wallet.address" class="btn btn-default btn-block"
                translate>Restore Wallet Procedure</a>
        </ng-template>
    </ngb-tab>


    <!-- <ngb-tab [title]="'Danger zone'| translate">
        <div class="modal-body">
            <div *ngIf="settings.error == 'EF2'" class="alert alert-danger" role="alert" translate>Wallet not
                empty</div>
            <div *ngIf="settings.error == 'EW12'" class="alert alert-danger" role="alert" translate>Active
                multisig wallets cannot be deleted</div>
            <div class="text-center">
                <a (click)="openConfirmDeleteWallet (wallet)" loading="remove.loading"
                    class="btn btn-danger btn-block" translate>Remove wallet</a>
            </div>
        </div>
    </ngb-tab> -->
</ngb-tabset>