<!-- Multisig feed modal -->
<modal mid="faucetDoneModal" content="true">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel" translate>Faucet sent</h4>
		</div>
		<div class="modal-body">
			<div align="center"><i class="fa fa-check-circle text-color-green" style="font-size:700%;"></i></div>
			<br>
			<p translate>You testnet bitcoins will be available in your wallet balance within few seconds.</p>
		</div>
		<!-- <div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal" translate>Close</button>
		</div> -->
	</div>	
</modal>



<!-- New deposit Modal -->
<modal mid="depositModal" title="{{'Deposit' | translate}}" content="true">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel" translate>Receive</h4>
		</div>

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="" data-target="#deposit-receive" aria-controls="deposit-receive" role="tab" data-toggle="tab">Receive money</a>
			</li>
			<li role="presentation">
				<a href="" data-target="#deposit-history" aria-controls="deposit-history" role="tab" data-toggle="tab">History</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="deposit-receive">
				<div class="modal-body text-center">
			        <div ng-if="$ctrl.faucet.error == 'EF1'" class="alert alert-danger" role="alert" translate>No faucet funds</div>
			        <div ng-if="$ctrl.faucet.error == 'EF2'" class="alert alert-danger" role="alert" translate>Wallet not empty</div>
			        <div ng-if="$ctrl.faucet.error == 'EW5'" class="alert alert-danger" role="alert" translate>Transaction not sent</div>

			        <translate>Your bitcoin address is</translate>: <br>
			        <input type="text" value="{{$ctrl.selectedwallet.address}}" class="form-control text-center"/>
					<br>
					<qr size="150" text="$ctrl.qr"></qr>
					<br>
					<p translate>Please remember that minimum donation with Helperbit is 0.001 bitcoin, please take it in mind when you top up your wallet.</p>
			        
					<span feature="faucet">
						<hr>
						<button class="btn btn-default btn-block" loading="$ctrl.faucet.loading" ng-click="$ctrl.getFaucet ($ctrl.selectedwallet)" translate>Get faucet</button>
					</span>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="deposit-history">
				<div class="modal-body">
					<transaction-list in="true" txs="$ctrl.selectedwallet.txs"></transaction-list>
				</div>
			</div>
	    </div>
	</div>
</modal>
