<!-- Wallet settings Modal -->
<modal mid="settingsModal" title="{{'Settings' | translate}}" content="true">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel" translate>Settings</h4>
		</div>

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="" data-target="#setting-general" aria-controls="setting-general" role="tab" data-toggle="tab" translate>General</a>
			</li>
			<li role="presentation" ng-if="$ctrl.selectedwallet.ismultisig">
				<a href="" data-target="#setting-admin" aria-controls="setting-admin" role="tab" data-toggle="tab" translate>Admins</a>
			</li>
			<li role="presentation" class="" ng-if="!$ctrl.selectedwallet.ismultisig">
				<a href="" data-target="#setting-restore" aria-controls="setting-restore" role="tab" data-toggle="tab" translate>Restore from backup</a>
			</li>
			<li role="presentation" class="" feature="removewallet">
				<a href="" data-target="#setting-danger" aria-controls="setting-danger" role="tab" data-toggle="tab" translate>Danger zone</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="setting-general">
				<div class="modal-body">
					<div ng-if="$ctrl.settings.error == 'E3'" class="alert alert-danger" role="alert" translate>Description should be long at least 4 characters.</div>
					<translate>Edit wallet label</translate>: <input type="text" class="form-control" maxlength="35" value="{{$ctrl.selectedwallet.label}}" ng-model="$ctrl.selectedwallet.label" />
					<br>
					<a ng-click="$ctrl.update ($ctrl.selectedwallet)" class="btn btn-default btn-block" translate>Update</a>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="setting-danger" feature="removewallet">
				<div class="modal-body">
					<div ng-if="$ctrl.settings.error == 'EF2'" class="alert alert-danger" role="alert" translate>Wallet not empty</div>
					<div ng-if="$ctrl.settings.error == 'EW12'" class="alert alert-danger" role="alert" translate>Active multisig wallets cannot be deleted</div>
				    <div class="text-center">
						<a ng-click="$ctrl.openConfirmDeleteWallet ($ctrl.selectedwallet)" loading="$ctrl.remove.loading" class="btn btn-danger btn-block" translate>Remove wallet</a>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="setting-restore">
				<div class="modal-body">
					<p translate>If you lose your passphrase, you can restore your funds by uploading the backup file and sending the funds to another address.</p>
					<br>
					<a ng-href="/me/wallet/restore/{{$ctrl.selectedwallet.address}}" class="btn btn-default btn-block" translate>Restore Wallet Procedure</a>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="setting-admin">
				<div class="modal-body">
					<p translate>This is the list of admins that can sign your transactions; this wallet needs at least {{$ctrl.selectedwallet.multisig.n}} signatures to broadcast a transaction.</p>

					<table class="table table-compressed table-striped">
						<tr ng-repeat="admin in $ctrl.selectedwallet.multisig.admins">
							<td class="text-center"> {{admin}} </td>
						</tr>
						<tr> <td class="text-center">Helperbit</td> </tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</modal>
