<page-header config="$ctrl.pageHeader"></page-header>

<div ng-include="'components/dashboard/wallet/wallets/deposit.html'"></div>
<div ng-include="'components/dashboard/wallet/wallets/settings.html'"></div>

<modal mid="modalConfirm" config="$ctrl.modals.modalConfirmConfig"></modal>

<!-- Create donation button -->
<modal mid="createDonationButtonModal" content="true">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title" id="myModalLabel" translate>Donation button</h4>
		</div>
		<div class="modal-body" style="color: #000">

			<p class="text-justify" translate>Insert the following HTML code in the <i>head</i> section of your werbsite.</p>
			<textarea style="font-size: 80%">
				<link rel="stylesheet" href="{{$ctrl.config.baseUrl}}/widgets/donate-button/style.css">
				<script src="{{$ctrl.config.baseUrl}}/widgets/donate-button/button.min.js"></script>
				<script>helperbit_init('user', '{{$ctrl.user.username}}');</script>
			</textarea>

			<p class="text-justify margin-top-15" translate>Insert the following HTML code in your werbsite, where you want to display the donation button.</p>
			<textarea style="font-size: 80%">
				<div class="hbcontainer" id="hbcontainer-user-{{$ctrl.user.username}}">
					<iframe class="hbdonateframe" id="hbdonateframe-user-{{$ctrl.user.username}}" scrolling="no" href="" src=""></iframe>
				</div>
				<a id="hbdonatebutton-user-{{$ctrl.user.username}}" class="hbdonatebutton">Donate in Bitcoin</a>
			</textarea>
		</div>
	</div>
</modal>

<div class="row">
	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 page-composable-col" style="top: 0px; position: sticky;">
		<!-- TODO da fare come dropdown menu, sistemare anche le altre pagine -->
		<!-- <div class="page page-composable" ng-if="wallets.length > 0">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation">
					<a href="/me/edit" translate>Profile</a>
				</li>
				<li ng-show="defaultwallet" role="presentation" ng-class="{active: selected == 'wallet'}">
					<a href="" ng-click="scrollTo('wallet');" translate>Default wallet</a>
				</li>
				<li ng-show="transactions.length>1" role="presentation" ng-class="{active: selected == 'transactions'}">
					<a href="" ng-click="scrollTo('transactions');" translate>Transactions</a>
				</li>
				<li ng-show="wallets.length>0" role="presentation" ng-class="{active: selected == 'wallets'}">
					<a href="" ng-click="scrollTo('wallets');" translate>Other wallets</a>
				</li> -->
		<!-- <li role="presentation" ng-class="{active: selected == 'contacts'}"><a href="" ng-click="scrollTo('contacts');">Address book</a></li> -->
		<!-- </ul>
		</div> -->
		<div class="page page-composable">
			<sidebar-component></sidebar-component>
		</div>
	</div>
	<!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 page-composable-col"></div> -->
	<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 page-composable-col">
		<div class="page page-composable profile-wallet" style="padding: 1.5em;">

			<!-- DEFAULT WALLET -->
			<h3 class="border-bottom border-yellow margin-top-0 margin-bottom-15" translate>Default wallet</h3>

			<!-- no wallet -->
			<div ng-if="$ctrl.walletList.wallets.length == 0">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<p translate>You do not have a wallet yet!</p>
						<a ng-if="$ctrl.user.usertype != 'npo'" href="/me/wallet/new" class="btn btn-default btn-xs-block">
							<i class="fa fa-file"></i>
							<translate>Create new address</translate>
						</a>
						<a ng-if="$ctrl.user.usertype == 'npo'" href="/me/wallet/newmultisig" class="btn btn-default btn-xs-block">
							<i class="fa fa-file"></i>
							<translate>Create new address</translate>
						</a>
						<!-- <a ng-if="user.usertype == 'npo'" href="/me/admin" class="btn btn-danger">
							<i class="fa fa-users"></i>
							<translate>Manage admins</translate>
						</a> -->
					</div>
				</div>
			</div>
			<!-- end no wallet -->

			<!-- wallet -->
			<div ng-if="$ctrl.walletList.wallets.length > 0">
				<!-- Wallet -->
				<a id="wallet"></a>
				<div class="wallet-container row" ng-if="$ctrl.defaultwallet">
					<div class="col-lg-2 col-md-4 col-sm-4 hidden-xs">
						<qr size="130" text="$ctrl.defaultwallet.qr"></qr>
					</div>
					<div class="col-lg-7 col-md-8 col-sm-8 col-xs-12">
						<h2 class="margin-top-0 margin-bottom-15"> {{$ctrl.defaultwallet.label}}</h2>
						<h2 class="margin-bottom-15">
							<address-balance watch-reload="true" address="{{$ctrl.defaultwallet.address}}"></address-balance>
						</h2>
						<div class="address-container text-ellipsis">
							<a
							href="javascript:void(0)"
							tooltip
							tooltip-content="{{ 'Click to copy the address' | translate }}"
							copy-to-clipboard="{{$ctrl.defaultwallet.address}}">{{$ctrl.defaultwallet.address}}</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 padding-md-top-15 padding-sm-top-15 padding-xs-top-15 text-md-center text-sm-center text-xs-center">
						<div class="wallet-actions-container">
							<button type="button" ng-click="$ctrl.withdraw($ctrl.defaultwallet)" class="btn btn-default btn-block">
								<i class="fa fa-sign-out"></i>
								<translate>Send funds</translate>
							</button>
							
							<button type="button" ng-click="$ctrl.walletSettings($ctrl.defaultwallet)" class="btn btn-default btn-block">
								<i class="fa fa-gear"></i>
								<translate>Settings</translate>
							</button>

							<!-- <button type="button" ng-click="$ctrl.createDonationButton ()" class="btn btn-default btn-block">
								<translate>Create donation button</translate>
							</button> -->
						</div>
					</div>
				</div>
				<div class="row" ng-if="$ctrl.defaultwallet.balance < 0.001">
					<div class="col-xs-12 padding-top-bottom-15">
						<translate>Please remember that minimum donation with Helperbit is 0.001 bitcoin, please take it in mind when you top up your wallet.</translate>
					</div>
				</div>
			</div>
			<!-- end wallet -->
			
			<!-- Sign multisig -->
			<me-wallet-sign-multisig-component></me-wallet-sign-multisig-component>

			<!-- Default wallet - transactions -->
			<div ng-if="$ctrl.transactions.length > 0" class="margin-top-15">
				<a id="transactions"></a>
				<h4 class="border-bottom border-red margin-top-0" translate>Transactions</h4>
				<table class="table table-compressed margin-bottom-0">
					<thead class="separator">
						<tr>
							<th class="text-center">
								<translate class="hidden-xs">Transaction ID</translate>
								<translate class="hidden-lg hidden-md hidden-sm">Transaction</translate>
							</th>
							<th class="text-center" translate>Date</th>
							<th class="text-center" translate>Value</th>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="m in $ctrl.transactions">
							<td class="text-ellipsis" style="max-width: 50px;">
								<external-link url="{{m.txid|explorer:'tx'}}" text="{{m.txid}}"></external-link>
							</td>
							<td class="text-center">{{m.time|date:'medium'}}</td>
							<td class="text-center">
								{{m.value|money:'auto'}}
								<i ng-if="m.in" class="fa fa-arrow-left text-color-green"></i>
								<i ng-if="!m.in" class="fa fa-arrow-right text-color-red"></i>

								<span class="hidden-xs label label-warning margin-right-5" ng-show="m.confirmations == 0">
									<i class="fa fa-clock-o"></i>
									<translate class="hidden-xs">Unconfirmed</translate>
								</span>
								<div class="hidden-lg hidden-md hidden-sm label-container">
									<span class="label label-warning" ng-show="m.confirmations == 0">
										<i class="fa fa-clock-o"></i>
									</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- End default wallet - transactions -->

			<!-- END DEFAULT WALLET -->

			<!-- Other wallets -->
			<div ng-show="$ctrl.walletList.wallets.length>0 || $ctrl.adminof.length>0" class="margin-top-30">
				<a id="wallets"></a>
				<h3 class="border-bottom border-yellow margin-top-0" translate>Other wallets</h3>
				<p class="text-center">
					<a ng-if="$ctrl.walletList.wallets.length < 10 && $ctrl.user.usertype != 'npo'" href="/me/wallet/new" class="btn btn-danger btn-xs-block">
						<i class="fa fa-file"></i>
						<translate>Create new wallet</translate>
					</a>

					<a ng-if="$ctrl.walletList.wallets.length < 10 && $ctrl.user.usertype == 'npo'" href="/me/wallet/newmultisig" class="btn btn-danger btn-xs-block">
						<i class="fa fa-file"></i>
						<translate>Create new wallet</translate>
					</a>
				</p>
				<div>
					<wallet-list config="$ctrl.walletList"></wallet-list>
				</div>
			</div>

		</div>
	</div>
</div>