<table ng-if="$ctrl.vtxs.length > 0" class="table">
	<thead class="separator">
		<tr>
			<th class="text-center" translate>Tx</th>
			<th class="text-center" translate>Amount</th>
			<th class="text-center" translate>Date</th>
			<th></th>
		</tr>
	</thead>
	<tr ng-repeat="tx in $ctrl.vtxs">
		<td class="text-center text-ellipsis">
			<!-- <external-link ng-if="!$ctrl.multisig" url="{{tx.txid|explorer}}" text="{{tx.txid}}"></external-link>
			<external-link ng-if="$ctrl.multisig" url="/transaction/{{tx.txid}}" text="{{tx.txid}}"></external-link> -->
			<a ng-if="!$ctrl.multisig" target="_blank" href="{{tx.txid|explorer}}">
				<i class="fa fa-external-link"></i> {{tx.txid}}
			</a>
			<a ng-if="$ctrl.multisig" target="_blank" href="/transaction/{{tx.txid}}">
				{{tx.txid}}
			</a>
		</td>
		<td class="text-center text-break-all">{{tx.value|money:'full'}}</td>
		<td class="text-center">{{tx.time|date}}</td>
		<td class="text-center text-center">
			<span ng-if="tx.confirmations == 0" class="label label-danger">
				<i class="fa fa-clock-o"></i>
				<translate class="hidden-xs">Unconfirmed</translate>
			</span>
			<span ng-if="tx.confirmations > 0" class="label label-success">
					<i class="fa fa-check"></i>
					<translate class="hidden-xs">Confirmed</translate>
			</span>
		</td>
	</tr>
</table>

<div ng-if="$ctrl.vtxs.length == 0" class="text-center">
	<i translate>There are no transactions</i>
</div>
