<page-header [config]="pageHeader"></page-header>

<div class="page-modalized">
	<div class="modal-content">
		<div *ngIf="model.invalid" class="modal-body" style="color: #000" align="left">
			<p translate>The link you are opening is expired or it is not valid or you are trying to access to your single user account while another account is already logged in.</p>
			<hr>
			<div align="right">
				<a routerLink="/me/wallet" class="btn btn-danger" translate>Close</a>
			</div>
		</div>

		<aw-wizard *ngIf="!model.invalid" [navBarLocation]="onFirstStep ? 'none' : 'top'" class="modal-body">
			<aw-wizard-step [stepId]="1" [stepTitle]="wizard.step0.titles.main" (stepEnter)="onFirstStep = true" (stepExit)="onFirstStep = false">
				<h1 class="text-center text-uppercase">{{ wizard.step0.titles.heading }}</h1>
				
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="padding-top-bottom-15">
							<!-- TODO wallet-type class è in new.scss di wallet/new -->
							<img [alt]="'Bitcoin Mnemonic Wallet' | translate" src="/media/wallet-type/png/mnemonic_256x217.png" class="wallet-type img-responsive" />
						</div>
						<button class="btn btn-danger btn-block" (click)="selectWalletType('mnemonic')" translate>Mnemonic</button>
						<br>
						<p translate>Choose this option if you don't own a Ledger or Trezor hardware wallet. During the procedure, you have to write down the 12-word mnemonic and keep it safe. These words let you sign transactions from the wallet of your organization.</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="padding-top-bottom-15">
							<img [alt]="'Bitcoin Ledger Wallet' | translate" src="/media/wallet-type/png/ledger_256x230.png" class="wallet-type img-responsive" />
						</div>
						<button class="btn btn-danger btn-block" ng-disabled="!model.ledgerSupport" (click)="selectWalletType('ledger')" translate>Ledger Nano</button>
						<br>
						<div class="alert alert-danger" *ngIf="!model.ledgerSupport" translate>Available only on Chrome browser</div>
						<p translate>If you own a Ledger hardware wallet you can create a Bitcoin wallet just pairing the device with the platform. Your key to sign transactions from the wallet of your organization is kept secured on the offline device and you don't need to write down the 12-word mnemonic. This procedure is simple, secure and fast.</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 not-available">
						<div class="padding-top-bottom-15">
							<img [alt]="'Bitcoin Trezor Wallet' | translate" src="/media/wallet-type/png/trezor_256x462.png" class="wallet-type img-responsive" />
						</div>
						<button class="btn btn-danger btn-block" disabled="disabled" (click)="selectWalletType('trezor')" translate>Trezor</button>
						<br>
						<p translate>If you own a Trezor hardware wallet you can create a Bitcoin wallet just pairing the device with the platform. Your key to sign transactions from the wallet of your organization is kept secured on the offline device and you don't need to write down the 12-word mnemonic. This procedure is simple, secure and fast.</p>
					</div>
				</div>
			</aw-wizard-step>

			<!-- Passphrase generator -->
			<aw-wizard-step [hidden]="model.hardwareWallet" *ngIf="!model.hardwareWallet" [stepTitle]="wizard.step1Passphrase.titles.main">
				<h1 class="text-center text-uppercase">{{ wizard.step1Passphrase.titles.heading }}</h1>

				<p>
					<span translate>The 12-word passphrase have just been created client-side in the box below. These 12 words let you sign transactions created by the organization</span>
					<a [routerLink]="'/user/'+model.organization" target="_blank"><i><b>{{model.organization}}</b></i></a>
					<span translate>for the wallet</span> <i>"{{model.label}}"</i>
					(<a (click)="renewMnemonic ()" href="javascript:void(0)" translate>click here to generate a new 12 words passphrase</a>).
				</p>
				<mnemonic-view [mnemonic]="model.mnemonic"></mnemonic-view>

				<div id="printSectionNew">
					<mnemonic-view [mnemonic]="model.mnemonic"></mnemonic-view>
				</div>
				<br>
				<div class="padding-10 background-red text-color-white">
					<div class="margin-bottom-10" style="font-size: 110%;">
						<b>
							<i class="fa fa-exclamation-triangle"></i>
							<span translate>Write your passphrase down and keep it safe</span>
						</b>
					</div>
					<div>
						<p>
							<span translate>If you lose this passphrase, you will lose access to your wallet</span>.<br>
							<span translate>If someone gets your passphrase, they gain access to your wallet</span>.<br>
							<span translate>We do not store your passphrase and cannot recover it if lost</span>.
						</p>
					</div>
				</div>
				<br>
				<input type="checkbox" id="wiaccept" [(ngModel)]="model.accept">
				<label for="wiaccept" translate>I have written down or otherwise securely stored my 12 words passphrase</label>

				<hr>

				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-lg-left text-md-left text-sm-left text-xs-center">
						<a href="javascript:void(0)" (click)="wizard.step1Passphrase.previous()" class="btn btn-danger btn-xs-block" translate>Go back</a>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-lg-right text-md-right text-sm-right text-xs-center margin-xs-top-5">
						<button type="button" class="btn btn-default btn-xs-block" translate (click)="printMnemonic()">Print the passphrase</button>
						&nbsp;
						<button [disabled]="!model.accept" type="button" class="btn btn-default btn-xs-block margin-xs-top-5" translate (click)="wizard.step1Passphrase.next()">Next</button>
					</div>
				</div>
			</aw-wizard-step>

			<!-- Hardware wallet pairing -->
			<aw-wizard-step [stepId]="2" [hidden]="!model.hardwareWallet" *ngIf="model.hardwareWallet" [stepTitle]="wizard.step1HardwareWallet.titles.main">
				<h1 class="text-center text-uppercase">{{ wizard.step1HardwareWallet.titles.heading }}</h1>

				<div class="row">
					<div class="col-xs-12">
						<response-messages [message]="wizard.step1HardwareWallet.responseMessage"></response-messages>
					</div>
				</div>

				<p>
					<span translate>Use your Ledger Nano device to create a new Helperbit wallet for the organization</span>:
				</p>
				
				<ledger-wait [config]="wizard.step1HardwareWallet.model.ledgerWaitStatus" (exec)="wizard.step1HardwareWallet.model.exec()"></ledger-wait>

				<input class="form-control" type="text" readonly="readonly" [placeholder]="'Public Key'|translate" *ngIf="model.hardwareWalletPublicKey.length > 3" [(ngModel)]="model.hardwareWalletPublicKey">

				<hr>

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-lg-left text-md-left text-sm-left text-xs-center">
						<a href="#" (click)="wizard.step1HardwareWallet.previous()" class="btn btn-danger btn-xs-block" translate>Go back</a>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-lg-right text-md-right text-sm-right text-xs-center margin-xs-top-5">
						<button [disabled]="!model.accept" type="button" class="btn btn-default btn-xs-block" translate (click)="wizard.step1HardwareWallet.next()">Next</button>
					</div>
				</div>
			</aw-wizard-step>

			<!-- Passphrase confirmation -->
			<aw-wizard-step [stepId]="3" [hidden]="model.hardwareWallet" *ngIf="!model.hardwareWallet" [stepTitle]="wizard.step2Passphrase.titles.main">
				<h1 class="text-center text-uppercase">{{ wizard.step2Passphrase.titles.heading }}</h1>
				
				<div class="row">
					<div class="col-xs-12">
						<response-messages [message]="wizard.step2Passphrase.responseMessage"></response-messages>
					</div>
				</div>

				<p translate>Type here the requested words of the passphrase displayed in the previous windows</p>
				<span *ngFor="let v of model.mnemonicConfirmChallenge">
					<b>{{v.index|ordinal}} word:</b>
					<input class="form-control" type="text" [(ngModel)]="v.insert"><br>
				</span>

				<hr>

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-lg-left text-md-left text-sm-left text-xs-center">
						<button type="button" class="btn btn-danger btn-xs-block" translate (click)="wizard.step2Passphrase.previous()">Back</button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-lg-right text-md-right text-sm-right text-xs-center margin-xs-top-5">
						<button type="button" class="btn btn-default btn-xs-block" (click)="wizard.step2Passphrase.next()" translate>Next</button>
					</div>
				</div>
			</aw-wizard-step>

			<!-- Backup file password -->
			<aw-wizard-step [stepId]="4" [hidden]="model.hardwareWallet" *ngIf="!model.hardwareWallet" [stepTitle]="wizard.step3.titles.main">
				<h1 class="text-center text-uppercase">{{ wizard.step3.titles.heading }}</h1>

				<div class="row">
					<div class="col-xs-12">
						<response-messages [message]="wizard.step3.responseMessage"></response-messages>
					</div>
				</div>

				<p translate>A backup file will allow you to restore your funds even if you forgot the passphrase and it is necessary to recover funds without the intervention of Helperbit. Insert a password below to encrypt the backup file.</p>

				<span translate>Backup file password:</span>
				<input class="form-control" id="backpass" [type]="wizard.step3.passwordVisibility" value="" name="{{rnd}}" id="{{rnd}}" autocomplete="new-password" [(ngModel)]="model.backupPassword" />
				<br>
				<span translate>Repeat backup file password:</span>
				<input class="form-control" id="backpass2" [type]="wizard.step3.passwordVisibility" value="" name="{{rnd}}2" id="{{rnd}}2" autocomplete="new-password2" [(ngModel)]="model.backupPasswordRepeat" />
				<br>
				<input type="checkbox" id="wipass" (checked)="wizard.step3.passwordVisibility = $event.target.checked ? 'text' : 'password'">
				<label for="wipass" translate>Show / Hide backup password</label>

				<hr>

				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-lg-right text-md-right text-sm-right text-xs-center">
						<button type="button" class="btn btn-default btn-xs-block" [loading]="wizard.step3.loading" [disabled]="model.backupPassword != model.backupPasswordRepeat" translate (click)="wizard.step3.next()">Next</button>
					</div>
				</div>
			</aw-wizard-step>

			<!-- Done -->
			<aw-wizard-step [stepId]="5" [stepTitle]="wizard.step4.titles.main">
				<h1 class="text-center text-uppercase">{{ wizard.step4.titles.heading }}</h1>
				
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center completed-img">
						<img src="/media/completed-green.png">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-20 completed-text">
						<div *ngIf="model.hardwareWallet">
							<p translate>Your part for the wallet creation is done! Remember to keep safe your Hardware Wallet, this will be necessary to sign transactions created by the organization.</p>
						</div>
						<div *ngIf="!model.hardwareWallet">
							<p translate>Your part for the wallet creation is done! Remember to store your address passphrase, this will be necessary to sign transactions created by the organization.</p>
							<br>
							<p translate>Now download the backup file; it will help you to restore the key if you lose the passphrase and it is necessary to recover funds without the intervention of Helperbit.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<a *ngIf="!model.hardwareWallet" type="button" class="btn btn-default btn-xs-block" id="download-backup" [download]="'hbwallet_'+model.organization+'_'+wizard.user+'_'+model.labelShort+'.json'" (click)="downloadBackup()" [href]="sanitize('data:text/json;charset=utf-8,'+model.file)">
							<i class="fa fa-download"></i>
							<span translate>Download backup</span>
						</a>
						&nbsp;
						<a routerLink="/me/wallet" *ngIf="model.downloadedBackup || model.hardwareWallet" class="btn btn-danger margin-xs-top-5 btn-xs-block" translate>Close</a>
					</div>
				</div>
			</aw-wizard-step>
		</aw-wizard>
	</div>
</div>