<ul class="list-group">
    <li class="list-group-item">
        <translate translate-context="Ledger-Pair-Procedure">Connect and unlock the <b>Ledger device</b></translate>
        <i ng-if="$ctrl.phases[0] == 'wait'" class="fa fa-refresh fa-spin fa-fw"></i>
        <i ng-if="$ctrl.phases[0] == 'error'" class="fa fa-times error"></i>
        <i ng-if="$ctrl.phases[0] == 'success'" class="fa fa-check success"></i>
    </li>
    <li class="list-group-item">
        <translate translate-context="Ledger-Pair-Procedure">Navigate to the <b>Bitcoin</b> app on your device</translate>
        <i ng-if="$ctrl.phases[1] == 'wait'" class="fa fa-refresh fa-spin fa-fw"></i>
        <i ng-if="$ctrl.phases[1] == 'error'" class="fa fa-times error"></i>
        <i ng-if="$ctrl.phases[1] == 'success'" class="fa fa-check success"></i>
    </li>
    <li class="list-group-item" ng-show="($ctrl.config.button || $ctrl.exec) && !$ctrl.retryShow && !$ctrl.started">
        <div class="text-center">
            <button class="btn btn-default btn-xs-block" ng-click="$ctrl.retry()" translate>Start procedure</button>
        </div>
    </li>
    <li class="list-group-item">
        <translate translate-context="Ledger-Pair-Procedure">When asked, press <b>confirm</b> on the device</translate>
        <i ng-if="$ctrl.phases[2] == 'wait'" class="fa fa-refresh fa-spin fa-fw"></i>
        <i ng-if="$ctrl.phases[2] == 'error'" class="fa fa-times error"></i>
        <i ng-if="$ctrl.phases[2] == 'success'" class="fa fa-check success"></i>
    </li>
</ul>
<div class="retry row" ng-show="$ctrl.retryShow">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-lg-right text-md-right text-sm-center text-xs-center margin-top-5">
        <i class="fa fa-exclamation-circle fa-3x"></i>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-sm-center text-xs-center">
        <b translate translate-context="Ledger-Pair-Procedure">Oops, couldn't connect to device</b>
        <p translate translate-context="Ledger-Pair-Procedure">The Helperbit platform is unable to connect to the device; please be sure to connect the device, unlock with the pin and select the Bitcoin app.</p>
    </div>
    <div ng-if="$ctrl.exec" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-lg-right text-md-right text-sm-center text-xs-center">
        <a href="javascript:void(0)" ng-click="$ctrl.retry()" translate>Retry</a>
    </div>
</div>