<div ng-if="$ctrl.model.hardware && $ctrl.model.hardwareType == 'ledgernanos'">
	<br>
	<ledger-wait config="$ctrl.ledgerWaitStatus"></ledger-wait>
	<!-- exec="$ctrl.ledgerWaitStatus.exec" -->
</div>
<div ng-if="!$ctrl.model.hardware && !$ctrl.model.useBackup" ng-init="showpassphrase = true">
	<p>
		<translate>Insert your passphrase (or click</translate> <a ng-click="$ctrl.model.useBackup = true;" href=""
			translate>here</a>
		<translate>to sign with your backup file)</translate>:
	</p>
	<input class="form-control" ng-attr-type="{{ showpassphrase ? 'text' : 'password' }}"
		ng-model="$ctrl.model.mnemonic" value="{{$ctrl.model.mnemonic}}" />
	<div class="text-right">
		<a href="" ng-click="showpassphrase = !showpassphrase">
			<span ng-if="showpassphrase" translate>Hide passphrase</span>
			<span ng-if="!showpassphrase" translate>Show passphrase</span>
		</a>
	</div>
</div>
<div ng-if="!$ctrl.model.hardware && $ctrl.model.useBackup">
	<p>
		<translate>Load your backup file</translate>
			<span ng-if="!$ctrl.signConfig.forceBackup">
				<translate>(or click</translate> <a ng-click="$ctrl.model.useBackup = false;" href="" translate>here</a>
		<translate>to sign with your passphrase)</translate></span>:
	</p>
	<input type="file" accept="application/json" class="form-control upload"
		ngf-select="$ctrl.loadBackupFile($file);"></input>

	<br>
	<translate>Backup password</translate>:
	<br>
	<input type="password" class="form-control" value="" ng-model="$ctrl.model.backup.password" />
</div>