<div *ngIf="model.hardware && model.hardwareType == 'ledgernanos'">
	<br>
	<ledger-wait [config]="ledgerWaitStatus"></ledger-wait>
	<!-- exec="ledgerWaitStatus.exec" -->
</div>
<div *ngIf="!model.hardware && !model.useBackup">
	<p>
		<span translate>Insert your passphrase (or click</span>
		<a (click)="model.useBackup = true" translate>here</a>
		<span translate>to sign with your backup file)</span>:
	</p>
	<input class="form-control" [type]="showpassphrase ? 'text' : 'password'" [(ngModel)]="model.mnemonic"
		[value]="model.mnemonic" />
	<div class="text-right">
		<a (click)="showpassphrase = !showpassphrase">
			<span *ngIf="showpassphrase" translate>Hide passphrase</span>
			<span *ngIf="!showpassphrase" translate>Show passphrase</span>
		</a>
	</div>
</div>
<div *ngIf="!model.hardware && model.useBackup">
	<p>
		<span translate>Load your backup file</span>
		<span *ngIf="!signConfig.forceBackup">
			<span translate>(or click</span>
			<a (click)="model.useBackup = false;" href="#" translate>here</a>
			<span translate>to sign with your passphrase)</span>
		</span>:
	</p>
	<input fileSelect type="file" accept="application/json" class="form-control upload"
		(select)="loadBackupFile($event);">

	<br>
	<span translate>Backup password</span>:
	<br>
	<input type="password" class="form-control" value="" [(ngModel)]="model.backup.password" />
</div>