<page-header config="$ctrl.pageHeader"></page-header>

<div class="page-modalized">
	<div class="modal-content">
		<wizard name="restoreWallet" template="/shared/templates/angular-wizard/wizard.html" indicators-position="top" class="modal-body">
			<!-- Passphrase generator -->
			<wz-step wz-title="{{ $ctrl.wizard.step1.titles.main }}" wz-heading-title="{{ $ctrl.wizard.step1.titles.heading }}">
				<div class="row">
					<div class="col-xs-12">
						<response-messages message="$ctrl.wizard.step1.responseMessage"></response-messages>
					</div>
				</div>

				<p translate>If you lose your passphrase, you can restore your funds by uploading the backup file and sending the funds to another address.</p>

				<translate>Destination address</translate>:
				<br>
				<input type="text" class="form-control" value="" ng-model="$ctrl.wizard.step1.model.destination" />
				<br>

				<wallet-sign sign-config="$ctrl.signConfig"></wallet-sign>
				<br>

				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<a ng-click="$ctrl.wizard.step1.submit()" loading="$ctrl.wizard.step1.loading" class="btn btn-xs-block btn-default" translate>Send</a>
					</div>
				</div>
			</wz-step>

			<!-- Done -->
			<wz-step wz-title="{{ $ctrl.wizard.step2.titles.main }}" wz-heading-title="{{ $ctrl.wizard.step2.titles.heading }}">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center completed-img">
						<img src="/media/completed-green.png">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-20 completed-text">
						<p>
							<translate>Restore transaction sent</translate>: <a href="{{$ctrl.txid|explorer}}" target="_blank">View transaction</a>
							<input type="text" class="form-control" value="{{$ctrl.txid}}" />
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top-15 text-center">
						<a href="/me/wallet" class="btn btn-danger btn-xs-block" translate>Close</a>
					</div>
				</div>
			</wz-step>
		</wizard>
	</div>
</div>