<page-header config="$ctrl.pageHeader"></page-header>

<div class="page-modalized">
	<div class="modal-content">
		<wizard name="newWallet" template="/shared/templates/angular-wizard/wizard.html" hide-indicators="$ctrl.hideIndicators" indicators-position="top" class="modal-body">
			<wz-step wz-order="1" wz-title="{{ $ctrl.wizard.step0.titles.main }}" wz-heading-title="{{ $ctrl.wizard.step0.titles.heading }}">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="padding-top-bottom-15">
							<img alt="{{'Bitcoin Mnemonic Wallet' | translate}}" src="media/wallet-type/png/mnemonic_256x217.png" class="wallet-type img-responsive" />
						</div>
						<button class="btn btn-danger btn-block" ng-click="$ctrl.selectWalletType('mnemonic')" translate>Mnemonic</button>
						<br>
						<p translate>Choose this option if you don't own a Ledger or Trezor hardware wallet. During the procedure, you have to write down the 12-word mnemonic and keep it safe. These words let you access to your wallet and to the funds.</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="padding-top-bottom-15">
							<img alt="{{'Bitcoin Ledger Wallet' | translate}}" src="media/wallet-type/png/ledger_256x230.png" class="wallet-type img-responsive" />
						</div>
						<button class="btn btn-danger btn-block" ng-disabled="!$ctrl.model.ledgerSupport" ng-click="$ctrl.selectWalletType('ledger')" translate>Ledger Nano</button>
						<br>
						<div class="alert alert-danger" ng-if="!$ctrl.model.ledgerSupport" translate>Available only on Chrome browser</div>
						<p translate>If you own a Ledger hardware wallet you can create a Bitcoin wallet just pairing the device with the platform. Your Bitcoin private key is kept secured on the offline device and you don't need to write down the 12-word mnemonic. This procedure is simple, secure and fast.</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 not-available">
						<div class="padding-top-bottom-15">
							<img alt="{{'Bitcoin Trezor Wallet' | translate}}" src="media/wallet-type/png/trezor_256x462.png" class="wallet-type img-responsive" />
						</div>
						<button class="btn btn-danger btn-block" disabled="disabled" ng-click="$ctrl.selectWalletType('trezor')" translate>Trezor</button>
						<br>
						<p translate>If you own a Trezor hardware wallet you can create a Bitcoin wallet just pairing the device with the platform. Your Bitcoin private key is kept secured on the offline device and you don't need to write down the 12-word mnemonic. This procedure is simple, secure and fast.</p>
					</div>
				</div>

				<br>

				<!-- Bech32 activation -->
				<input type="checkbox" id="bechaddress" ng-true-value="'p2wsh'" ng-false-value="'p2sh-p2wsh'" ng-model="$ctrl.model.scripttype">
				<label for="bechaddress" translate>Create a Bech32 segwit native address (bc1...)</label>
			</wz-step>

			<!-- Passphrase generator -->
			<wz-step ng-hide="$ctrl.model.hardwareWallet" wz-disabled="{{$ctrl.model.hardwareWallet}}" wz-title="{{ $ctrl.wizard.step1Passphrase.titles.main }}" wz-heading-title="{{ $ctrl.wizard.step1Passphrase.titles.heading }}">
				<p>
					<translate>The 12-word passphrase have just been created client-side in the box below. These 12 words let you access to your wallet and to the funds</translate>
					(<a ng-click="$ctrl.renewMnemonic()" href="javascript:void(0)" translate>click here to generate a new 12 words passphrase</a>).
				</p>
				<mnemonic-view mnemonic="$ctrl.model.mnemonic"></mnemonic-view>

				<div id="printSectionNew">
					<mnemonic-view mnemonic="$ctrl.model.mnemonic"></mnemonic-view>
				</div>
				<br>
				<div class="padding-10 background-red text-color-white">
					<div class="margin-bottom-10" style="font-size: 110%;">
						<b>
							<i class="fa fa-exclamation-triangle"></i>
							<translate>Write your passphrase down and keep it safe</translate>
						</b>
					</div>
					<div>
						<p>
							<translate>If you lose this passphrase, you will lose access to your wallet</translate>.<br>
							<translate>If someone gets your passphrase, they gain access to your wallet</translate>.<br>
							<translate>We do not store your passphrase and cannot recover it if lost</translate>.
						</p>
					</div>
				</div>
				<br>
				<input type="checkbox" id="wiaccept" ng-model="$ctrl.model.accept">
				<label for="wiaccept" translate>I have written down or otherwise securely stored my 12 words passphrase</label>

				<hr>

				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-lg-left text-md-left text-sm-left text-xs-center">
						<a href="javascript:void(0)" ng-click="$ctrl.wizard.step1Passphrase.previous()" class="btn btn-danger btn-xs-block" translate>Go back</a>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-lg-right text-md-right text-sm-right text-xs-center margin-xs-top-5">
						<button type="button" class="btn btn-default btn-xs-block" translate ng-click="$ctrl.printMnemonic()">Print the passphrase</button>
						<button ng-disabled="!$ctrl.model.accept" type="button" class="btn btn-default btn-xs-block margin-xs-top-5" translate ng-click="$ctrl.wizard.step1Passphrase.next()">Next</button>
					</div>
				</div>
			</wz-step>

			<!-- Hardware wallet pairing -->
			<wz-step wz-order="2" ng-hide="!$ctrl.model.hardwareWallet" wz-disabled="{{!$ctrl.model.hardwareWallet}}" wz-title="{{ $ctrl.wizard.step1HardwareWallet.titles.main }}" wz-heading-title="{{ $ctrl.wizard.step1HardwareWallet.titles.heading }}">
				<div class="row">
					<div class="col-xs-12">
						<response-messages message="$ctrl.wizard.step1HardwareWallet.responseMessage"></response-messages>
					</div>
				</div>

				<p>
					<translate>Use your Ledger Nano device to create a new Helperbit wallet</translate>:
				</p>

				<ledger-wait config="$ctrl.wizard.step1HardwareWallet.model.ledgerWaitStatus" exec="$ctrl.wizard.step1HardwareWallet.model.ledgerWaitStatus.exec"></ledger-wait>

				<input class="form-control" type="text" readonly="readonly" placeholder="{{'Public Key'|translate}}" ng-show="$ctrl.model.hardwareWalletPublicKey.length > 3" ng-model="$ctrl.model.hardwareWalletPublicKey">

				<hr>

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-lg-left text-md-left text-sm-left text-xs-center">
						<a href="#" ng-click="$ctrl.wizard.step1HardwareWallet.previous()" class="btn btn-danger btn-xs-block" translate>Go back</a>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-lg-right text-md-right text-sm-right text-xs-center margin-xs-top-5">
						<button ng-disabled="!$ctrl.model.accept" type="button" class="btn btn-default btn-xs-block" translate ng-click="$ctrl.wizard.step1HardwareWallet.next()">Next</button>
					</div>
				</div>
			</wz-step>

			<!-- Passphrase confirmation -->
			<wz-step wz-order="3" ng-if="!$ctrl.model.hardwareWallet" ng-hide="$ctrl.model.hardwareWallet" wz-disabled="$ctrl.model.hardwareWallet" wz-title="{{ $ctrl.wizard.step2Passphrase.titles.main }}" wz-heading-title="{{ $ctrl.wizard.step2Passphrase.titles.heading }}">
				<div class="row">
					<div class="col-xs-12">
						<response-messages message="$ctrl.wizard.step2Passphrase.responseMessage"></response-messages>
					</div>
				</div>

				<p translate>Type here the requested words of the passphrase displayed in the previous windows</p>
				<span ng-repeat="v in $ctrl.model.mnemonicConfirmChallenge">
					<b>{{v.index|ordinal}} <translate>word</translate>:</b>
					<input class="form-control" type="text" ng-model="v.insert"></input><br>
				</span>

				<hr>

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-lg-left text-md-left text-sm-left text-xs-center">
						<button type="button" class="btn btn-danger btn-xs-block" translate ng-click="$ctrl.wizard.step2Passphrase.previous()">Back</button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-lg-right text-md-right text-sm-right text-xs-center margin-xs-top-5">
						<button type="button" class="btn btn-default btn-xs-block" ng-click="$ctrl.wizard.step2Passphrase.next()" translate>Next</button>
					</div>
				</div>
			</wz-step>

			<!-- Backup file password -->
			<wz-step wz-order="4" ng-if="true" wz-title="{{ $ctrl.wizard.step3.titles.main }}" wz-heading-title="{{ $ctrl.wizard.step3.titles.heading }}">
				<div class="row">
					<div class="col-xs-12">
						<response-messages message="$ctrl.wizard.step3.responseMessage"></response-messages>
					</div>
				</div>

				<p translate>A backup file will allow you to restore your funds even if you forgot the passphrase and it is necessary to recover funds without the intervention of Helperbit. Insert a password below to encrypt the backup file.</p>

				<translate>Backup file password:</translate>
				<input class="form-control" id="backpass" type="{{$ctrl.wizard.step3.model.passwordVisibility}}" value="" name="{{$ctrl.rnd}}" id="{{$ctrl.rnd}}" autocomplete="new-password" ng-model="$ctrl.model.backupPassword" />
				<br>
				<translate>Repeat backup file password:</translate>
				<input class="form-control" id="backpass2" type="{{$ctrl.wizard.step3.model.passwordVisibility}}" value="" name="{{$ctrl.rnd}}2" id="{{$ctrl.rnd}}2" autocomplete="new-password2" ng-model="$ctrl.model.backupPasswordRepeat" />
				<br>
				<input type="checkbox" id="wipass" ng-model="$ctrl.wizard.step3.model.passwordVisibility" ng-true-value="'text'" ng-false-value="'password'">
				<label for="wipass" translate>Show / Hide backup password</label>

				<hr>

				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-lg-right text-md-right text-sm-right text-xs-center">
						<button type="button" class="btn btn-default btn-xs-block" loading="$ctrl.wizard.step3.loading" ng-disabled="$ctrl.model.backupPassword != $ctrl.model.backupPasswordRepeat" translate ng-click="$ctrl.createWallet()">Next</button>
					</div>
				</div>
			</wz-step>

			<!-- Done -->
			<wz-step wz-order="5" ng-if="true" wz-title="{{ $ctrl.wizard.step4.titles.main }}" wz-heading-title="{{ $ctrl.wizard.step4.titles.heading }}">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center completed-img">
						<img src="/media/completed-green.png">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center margin-top-20 completed-text">
						<div ng-if="$ctrl.model.hardwareWallet">
							<p translate>The wallet is created! Remember to keep safe your Hardware Wallet, this will be necessary to use the wallet.</p>
							<br>
							<p translate>Now download the backup file; it will help you to restore the key if you lose the Hardware Wallet and it is necessary to recover funds without the intervention of Helperbit.</p>
						</div>
						<div ng-if="!$ctrl.model.hardwareWallet">
							<p translate>The wallet is created! Remember to store your address passphrase, this will be necessary to use the wallet.</p>
							<br>
							<p translate>Now download the backup file; it will help you to restore the key if you lose the passphrase and it is necessary to recover funds without the intervention of Helperbit.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<a type="button" class="btn btn-default btn-xs-block" id="download-backup" download="hbwallet_{{$ctrl.model.address}}_{{$ctrl.username}}.json" ng-click="$ctrl.downloadBackup()" ng-href="data:text/json;charset=utf-8,{{$ctrl.model.file}}">
							<i class="fa fa-download"></i>
							<translate>Download backup</translate>
						</a>
						<a href="/me/wallet" ng-if="$ctrl.model.downloadedBackup" class="btn btn-danger margin-xs-top-5 btn-xs-block" translate>Close</a>
					</div>
				</div>
			</wz-step>
		</wizard>
	</div>
</div>